body(class="flex flex-col w-full min-h-screen px-2 md:px-16" style="background-color: #fcfefc;")
    header(class="w-full flex justify-between h-20 items-center sticky top-0" style="background-color: #fcfefc;")
        a(href="/")
            div(class="flex gap-2 items-center")
                div(class="logo h-8 w-8")
                p(class="text-3xl font-medium font-mono") Reel
        nav(class="flex gap-6 justify-around p-2 font-mono items-center")
            a(href="/" class=`${title.includes('Home') ? 'underline' : null }`) Home
            a(href="/movies" class=`${title.includes('Movies') ? 'underline' : null }`) Movies 
            a(href="/contact" class=`${title.includes('Contact') ? 'underline' : null }`) Contact
            if (user && user.admin)
                a(href="/admin" class=`${title.includes('Admin') ? 'underline' : null }`) Admin
            div(class="flex gap-2")
                if (user && !user.loggedIn) 
                    a(href="/login" class="bg-gray-700 rounded text-gray-100 px-3 py-2") Log In 
                    a(href="/signup" class="bg-green-500 rounded text-gray-100 px-3 py-2") Sign Up
                else
                    a(href="/favorites" class="bg-red-600 rounded text-gray-100 px-3 py-2") Favorites
                    a(href="/logout" class="bg-gray-700 rounded text-gray-100 px-3 py-2") Log Out
