include partials/head.pug
include partials/header.pug
main(class="flex-grow flex items-center justify-center gap-10 font-mono")
    div(class="flex flex-col gap-10 justify-between items-center")
        h1(class="font-semibold text-xl") Error 404, page not found.
        div(class="text-center")
            p(class="") But hey! seems like Travolta is lost too, 
            p take him 
                a(href="/" class="underline") home
    div(class="w-72 h-72" style=`background-image: url("https://i.imgur.com/A8NiwoE.gif"); background-position: center; background-size: contain; background-repeat: no-repeat;`)
include partials/footer.pug