include partials/head.pug
include partials/header.pug
main(class="flex-grow flex flex-col items-center justify-center gap-2")
    section(class="flex")
        h1 Hola, esto es Home

include partials/footer.pug