include partials/head.pug
include partials/header.pug
main(class="flex-grow flex items-center flex-col justify-center gap-16 w-full font-mono")
    h1(class="text-xl font-semibold") Log In
    form(action="/login" method="POST" class="flex flex-col w-max gap-2")
        div(class="flex justify-between gap-4 items-center")
            label(for="email") Email:
            input(type="email" id="email" name="email" required class="border border-gray-400 rounded px-3 py-px focus:outline-none w-64 text-center")
        div(class="flex justify-between gap-4 items-center")
            label(for="password") Password:
            input(type="password" id="password" name="password" required class="border border-gray-400 rounded px-3 py-px focus:outline-none w-64 text-center" minlength="6")
        input(type="submit" value="Log In" class="py-2 bg-green-500 text-white rounded cursor-pointer")
        if error 
            p(class="text-red-500 text-center text-sm")= error 
        p(class="text-center") Don't have an account yet? <a href="/signup" class="underline">Sign up</a>.
include partials/footer.pug